@import "/src/styles/mixins.scss";
@import "/src/styles/variables.scss";

.tabcontainer {
  padding-top: 47px;

  &__header {
    @include flex-center;
    height: 50px;
    gap: 50px;
    color: #64748b;
    font-size: 15px;
    border-bottom: $border-style;
  }

  &__title {
    @include flex-center;
    position: relative;
    height: 100%;
    font-weight: 100;
    font-size: 15px;
    background: none;
    border: none;
    cursor: pointer;

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 0;
      height: 2px;
      background-color: $active-color;
      transition: width 0.3s;
    }

    &--active {
      color: #2563eb;
      position: relative;

      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 2px;
        background-color: $active-color;
        transition: width 0.3s;
      }
    }
  }
}

// @media (hover: hover) {
//   .tabcontainer__title:hover {
//     position: relative;

//     &::after {
//       content: "";
//       display: block;
//       position: absolute;
//       left: 0;
//       bottom: -1px;
//       width: 100%;
//       height: 2px;
//       background-color: $active-color;
//       transition: width 0.3s;
//     }
//   }
// }
