@import "/src/styles/mixins.scss";
@import "/src/styles/variables.scss";

.cards {
  &__item {
    border-radius: $default-size;
    border: $border-style;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1),
      0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px 0px rgba(0, 0, 0, 0),
      0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0),
      0px 0px 0px 0px rgba(0, 0, 0, 0);
    transition: transform 0.3s;
  }

  &__header {
    display: flex;
    flex-direction: column;
    border-top-left-radius: $default-size;
    border-top-right-radius: $default-size;
    padding: 12px;
    height: 210px;
    background: url(https://coffee.alexflipnote.dev/random) center / cover
      no-repeat;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: $default-size;
  }

  &__title {
    font-size: 21px;
    font-weight: 600;
  }

  &__footer {
    @include flex-center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
  }

  &__time {
    color: $secondary-text-color;
  }
}

@media (hover: hover) {
  .cards__item:hover {
    transform: translateY(-4px);
  }
}
